# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
site/

# Cache
.cache
.hypothesis
.pytest_cache
.ruff_cache
.tox

# Environments
.env
.venv
venv/

# IntelliJ
.idea/
.run/
