name: CI

on:
  push:
    branches: [master]
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - uses: scientific-python/repo-review@v0.12.3
        with:
          plugins: sp-repo-review

      - name: markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          config: ".markdownlint.yaml"
          globs: "*.md"

      - uses: astral-sh/setup-uv@v7

      - name: uv sync
        run: >
          uv sync
          --locked
          --python 3.11
          --no-group debug
          --no-group docs

      - name: blacken-docs
        run: git ls-files -z -- '*.md' | xargs -0 uv run blacken-docs

      - name: codespell
        run: uv run codespell .

      - name: ruff check
        run: |
          uv run ruff check --output-format=github
          uv run ruff format --check

      - name: basedpyright
        run: |
          uv run basedpyright
          uv run basedpyright --ignoreexternal --verifytypes lmo

  test:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.11", "3.13"]
        pandas: ["--no-group pandas", ""]

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v7

      - name: setup python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: uv sync
        run: >
          uv sync
          --no-group debug
          --no-group docs
          ${{ matrix.pandas }}

      - name: pytest
        run: uv run pytest
